/*Maak hier jouw CSS!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "."
            "f";
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B052B;
    padding: 20px;
    color: #fff;
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50px 174px 240px 50px;
        grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "f f f";
    }

    .item-a {
        height: 50px;
    }
    .item-c {
        height: 240px;
    }
    .item-d {
        height: 100px;
    }
    .item-f {
        height: 50px;
    }
}
